.tag {
  font-size: 12px;
  border:1px solid #ddd;
  border-radius: 6px;
  padding:4px;
  margin:0 2px;
  background-color: #ddd;
}


.cursor-row {
  cursor:pointer
}

.cursor-row:hover {
  background-color: #cfeae4;
  cursor:pointer
}