.search-box {
  font-size: 24px;
  padding-bottom:10px;
  border-bottom: 1px solid #ddd;
  margin-bottom:30px;
}
.search-box > div {
  display: flex;
  align-items: center;
}
.search-select {
  margin:10px;
}


/* PC - 사이드 제거*/
@media screen and (max-width: 1280px) {
  .search-box {
    font-size: 20px;
  }
}

/* 낮은 해상도 PC, 테블릿  */
@media screen and (max-width: 1024px) {}

/* 테블릿 세로  - */
@media screen and (max-width: 768px) {
  .search-box {
    font-size: 18px;
  }
}

/* 모바일  */
@media screen and (max-width: 480px) {}

/* 모바일  */
@media screen and (max-width: 360px) {}